{:paths ["src" "resources" "tests"]
 :deps
 ;; clojure
 {org.clojure/clojure       {:mvn/version "1.9.0"}
  org.clojure/clojurescript {:mvn/version "1.10.339"}

  ;; app
  com.bhauman/figwheel-main {:mvn/version "0.1.9"}
  reagent                   {:mvn/version "0.8.1"}}


 :aliases {:cljs-tests {:main-opts ["-m" "figwheel.main" "--build test"]}}}
